body {
	font-family: calibri;
	font-size: 16px;
	background: #F2F2F2;
	color: #333;
	margin: 0;
	line-height: unset;
	position: relative;
}

.content {
	margin: 0 auto;
	width: 1140px;
	padding: 24px;
	margin-top: 1%;
	border-radius: 16px;
}

.title, footer {
	padding: 24px 14px 0px;
	margin: -14px;
}

.title {
	margin: -18px 0 8.5%;
	padding: 14px;
	border-radius: 14px 14px 0px 0px;
	font-weight: 300;
}

form {
	margin: 0px;
}

.text-box input, .mini #load input {
    display: none;
}

.text-box .nav-tabs {
    position: absolute;
    top: -32px;
    left: -1px;
    border-color: transparent;
}

.text-wrap {
    margin-top: 118px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.build {
    position: absolute;
    top: -3px;
    right: -32px;
}

.text-box {
    position: relative;
    width: 1129px;
    height: 886px;
    background: #F8F8F8;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 1;
}

textarea {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 12pt;
	line-height: 150%;
	height: 100%;
	width: 100%;
	padding: 15px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: flex;
	height: 100%;
	width: 100%;
	z-index: 2;
	overflow-x: auto;
	overflow-y: scroll;
	white-space: pre;
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
	resize: none;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

textarea:focus-visible {
	outline: none;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: absolute;
    right: -84px;
}

.button-wrap .button {
    width: 46px;
    height: 46px;
    padding: 0px;
    position: relative;
    flex: 0 0 auto;
    margin: 0 auto 12px;
    overflow: hidden;
}

.button {
    border-radius: 34px;
    padding: 4px 14px;
    color: #888;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 3px 9px -4px rgba(0, 0, 0, 0.35);
    transition: box-shadow .25s ease-in-out, border .25s ease-in;
    background: #F4F4F4;
    border: 1px solid #E2E2E2;
}

.text-wrap .button:not(.shader):hover, .button.active {
    background: #E9E9E9;
    border-color: #CCC;
    color: #5A5A5A;
}

.button.active:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #888;
}

.button-wrap input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
}

.shader {
    background-image: url("images/retroarch.png");
    background-size: contain;
    background-position: center;
    border: 0;
}

.image.button input:hover {
    cursor: pointer;
}

.image input:hover {
    cursor: pointer;
}

.hex, .hsb, .hsl, .rgb, .contrast {
	display: inline-block;
	margin-bottom: 12px;
}

.hex {
    width: 244px;
}

.hsb, .hsl, .rgb {
    width: 254px;
}

.hex input {
	text-transform:uppercase;
}

.rgb input, .hsb input, .hsl input {
	width: 48px;
	text-align: center;
}

.hsb input, .hsl input {
    margin-right: 6px;
}

input[type="text"], select {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 14px;
}

.square {
	height: 20px;
	width: 20px;
	margin: 0 auto 12px;
	position: relative;
}

.square input {
    left:  -12;
    top: -12;
}

.dropper {
    opacity: 0;
    width: 44px;
    height: 44px;
    top: -12px;
    left: -12px;
    bottom: 0px;
}

.dropper:hover {
    cursor: pointer;
}

.square.jewel {
    border-top: 10px inset rgb(0 0 0 / 5%);
    border-right: 10px inset rgb(255 255 255 / 15%);
    border-bottom: 10px outset rgb(255 255 255 / 15%);
    border-left: 10px outset rgb(0 0 0 / 5%);
    outline: 1px solid #BBB;
    border-radius: 5px;
}

.square.palette {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.square.palette .dropper {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -3px;
    left: -3px;
}

.square.swatch {
    border: 1px solid rgb(0 0 0 / 3%);
    width: 26px;
    height: 26px;
}

.square.swatch .dropper {
    width: 28px;
    height: 28px;
    top: -1px;
    left: -1px;
}

span.square-title {
    font-weight: bold;
    color: rgb(51 51 51 / 50%);
    display: block;
    text-align: center;
    width: 200px;
}

.error {
	color: #FF0000;
	position: absolute;
	bottom: 8px;
	left: 6px;
	text-align: center;
	width: 92%;
	background: #F7F7F7;
}

.info {
	font-weight: bold;
	margin-bottom: 12px;
	height: 19px;
	display: none;
}

.switch-panel {
    display: table;
    width: 100%;
    margin-top: -60px;
}

.bezel, .format, .imageType {
    display: table-cell;
    margin: 12px 24px 0px 0px;
    text-align: center;
    width: 33%;
}

.bezel, .format {
    border-right: 1px solid #DDD;
}

.imageType.disabled .switch-label.active {
    color: rgb(51 51 51 / 50%);
}

.disabled .switch-label:hover, .disabled .slider {
    cursor: default;
}

.format-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 28px 0 0;
	flex-direction: column;
	position: relative;
}

.format-labels span {
    margin: 0px 13px;
    position: relative;
}

.format-labels span:before {
	position: absolute;
	top: -14px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 1px;
	height: 6px;
	background: rgb(0 0 0 / 20%);
	border-radius: 50%;
}

.format-labels span.active:before {
	content: none;
}

.format-labels .active, .switch-label.active {
    color: #333;
}

.format input {
	-webkit-appearance: none;
	appearance: none;
	height: 8px;
	width: 190px;
	-webkit-border-radius: 25px;
	background: linear-gradient(rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 4%) 25%, rgb(0 0 0 / 4%) 75%, rgb(0 0 0 / 8%) 100%);
	border: 1px solid rgb(0 0 0 / 15%);
	border-radius: 25px;
	padding: 0 2px;
	margin: 0;
	cursor: pointer;
	left: 95px;
	bottom: 26px;
	position: absolute;
}

.format input::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: linear-gradient(0deg, #EEE, #FFF);
	appearance: none;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 2px solid #CCC;
}

.format input:focus {
	outline: none;
}

.format-wrapper .format-labels {
    width: 100%;
    margin-top: 10px;
    color: rgb(51 51 51 / 50%);
}

.switch-wrapper {
    margin-top: 22px;
}

.switch-label {
	display: inline-block;
    transition: all .3s ease-in-out;
    color: rgb(51 51 51 / 50%);
}

.switch-label.active:hover {
	cursor: default;
}

.panel-label {
    font-size: 14px;
    margin-left: -160px;
    font-weight: 600;
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 7px;
	vertical-align: middle;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 4%) 25%, rgb(0 0 0 / 4%) 75%, rgb(0 0 0 / 8%) 100%);
	border: 1px solid rgb(0 0 0 / 15%);
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: -2px;
	top: -7px;
	background: linear-gradient(0deg, #EEE, #FFF);
	-webkit-transition: .4s;
	transition: .4s;
	border: 2px solid #CCC;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 14px;
}

.slider.round:before {
	border-radius: 50%;
}

.layers-wrap {
	display: inline-block;
	padding-top: 48px;
	margin: 0px auto 0;
	position: relative;
	width: 100%;
	text-align: center;
}

.layer {
	position: relative;
	width: 748px;
	height: 36px;
}

.layer input {
	width: 100%;
	position: absolute;
	top: 32px;
	left: 196px;
	height: 0;
	-webkit-appearance: none;
}

.layer input::-webkit-slider-thumb {
	-webkit-appearance: none;
	display: block;
	width: 18px;
	height: 18px;
	margin: -6px 0 0;
	border-radius: 50%;
	background: linear-gradient(0deg, #EEE, #FFF);
	cursor: pointer;
	border: 2px solid #CCC !important;
}
.layer input::-moz-range-thumb {
	width: 16px;
	height: 16px;
	margin: -6px 0 0;
	border-radius: 50%;
	background: linear-gradient(0deg, #EEE, #FFF);
	cursor: pointer;
	border: 2px solid #CCC !important;
}
.layer input::-ms-thumb {
	width: 16px;
	height: 16px;
	margin: -6px 0 0;
	border-radius: 50%;
	background: linear-gradient(0deg, #EEE, #FFF);
	cursor: pointer;
	border: 2px solid #CCC !important;
}

.layer input::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	background: linear-gradient(rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 4%) 25%, rgb(0 0 0 / 4%) 75%, rgb(0 0 0 / 8%) 100%);
	border: 1px solid rgb(0 0 0 / 15%);
	border-radius: 25px;
}

.layer input::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: linear-gradient(rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 4%) 25%, rgb(0 0 0 / 4%) 75%, rgb(0 0 0 / 8%) 100%);
}

.layer input::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: linear-gradient(rgb(0 0 0 / 8%) 0%, rgb(0 0 0 / 4%) 25%, rgb(0 0 0 / 4%) 75%, rgb(0 0 0 / 8%) 100%);
	border-color: transparent;
	color: transparent;
}

.layer input:focus {
	background: none;
	outline: none;
}

.layer-labels {
	margin: 20px -44px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.layer-labels li {
	position: relative;
	float: left;
	width: 105px;
	text-align: center;
	color: rgb(51 51 51 / 50%);
	font-size: 14px;
	cursor: pointer;
}

.layer-labels li::before {
	position: absolute;
	top: -27px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 1px;
	height: 6px;
	background: rgb(0 0 0 / 20%);
	border-radius: 50%;
}

.layers-wrap:not(.disabled) .layer-labels .active {
	color: #333;
	font-weight: bold;
}

.layers-wrap:not(.disabled) .layer-labels li.active::before {
	display: none;
}

.layers-wrap.disabled .layer input::-webkit-slider-thumb{
    display: none;
}

.layers-wrap.disabled .layer-labels li:hover{
    cursor: default;
}

.koko-aio .layer-labels li {
    width: 92px;
    margin-right: 32px;
}

.koko-aio .layer {
    width: 510px;
}

.koko-aio .layer input {
    left: 298px;
}

#submit {
	opacity: 0;
}

.button:hover, .switch-label:hover, .format-labels span:hover {
    cursor: pointer;
    /* box-shadow: none; */
}

#copy:hover:disabled {
	cursor: not-allowed;
}

.text-wrap.extra{
    margin-top: 60px;
	display: none;
}

.left-foot, .right-foot {
	flex: 1 1 auto;
}

.left-foot {
	text-align: left;
}

.credit.design {
	margin: 4px 0px;
}

.dot-divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(51 51 51 / 20%);
    border-radius: 50%;
    margin: 0px 10px;
}

a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
}

a:hover {
	color: #000;
}

.owl-wrapper {
	margin-top: 48px;
}

.owl-wrapper h3 {
	font-size: 20px;
	color: #666;
}

.owl-carousel {
	padding: 0px 72px;
	margin-left: -72px;
}

.owl-carousel .owl-nav .disabled {
	opacity: 0.25;
	cursor: default;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
	font-size: 30px;
	width: 36px;
	height: 36px;
	position: absolute;
	bottom: 45%;
}

.owl-prev {
	left: 12px;
}

.owl-next {
	right: 12px;
}

.owl-prev span, .owl-next span {
	margin-top: -4px;
	display: block;
}

.owl-carousel .sample {
	height: 100px;
	margin-left: 4px;
}

.colors {
	display: inline-block;
}

.jewel .color {
	display: inline-block;
	border-radius: 5px;
	margin: 4px 10px 4px 0px;
	border-top: 10px inset rgb(0 0 0 / 5%);
	border-right: 10px inset rgb(255 255 255 / 15%);
	border-bottom: 10px outset rgb(255 255 255 / 15%);
	border-left: 10px outset rgb(0 0 0 / 5%);
	outline: 1px solid #BBB;
	height: 14px;
	width: 14px;
}

.palette .color {
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	margin: 4px 6px 4px 0px;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.swatch .color {
    display: inline-block;
    margin: 4px 0px 4px 0px;
    border: 1px solid rgb(0 0 0 / 3%);
    width: 26px;
    height: 26px;
}

.color.active, .color:hover {
    transform: scale(1.15);
}

.color:hover {
	cursor: pointer;
}

.color-title, .color-code {
	display: block;
}

.color-title {
	padding: 8px 2px 4px;
	margin: 0px;
	font-size: 17px;
}

.color-code {
	color: rgba(0,0,0,0.5);
	font-size: 14px;
	opacity: 0;
	transition: all .2s ease-in-out;
	text-align: center;
}

.colors:hover ~ .color-code {
	opacity: 1;
}

footer {
    text-align: right;
    margin: 48px -72px 0;
    display: flex;
    flex-direction: row;
    width: calc(100% + 114px);
}

.foot-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.foot-wrapper .credit {
    display: block;
}

footer {
	color: rgb(51 51 51 / 50%);
}

footer .button {
    display: inline-block;
    margin-top: -24px;
    border-radius: 50%;
    padding: 10px;
    width: 14px;
    height: 14px;
    top: 10px;
    position: relative;
    box-shadow: none;
    border: none;
}

.center-foot {
	flex: 0 0 auto;
}

.center-foot .credit {
    text-align: left;
}

.watermark {
    background-image: url("images/watermark.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 6px 0px #DDD;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: #DDD;
	cursor: pointer;
}

.on.green textarea::-webkit-scrollbar-thumb {
	background: #7bFFb0;
}

.on.green textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px 0 #00FF66;
}

.on.amber textarea::-webkit-scrollbar-thumb {
	background: #FFB700;
}

.on.amber textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px 0 #FFB700;
}

*, *::before, *::after {
	transition: opacity .3s ease-in;
	box-sizing: revert;
}

.nav-item{
    display: table-cell;
}

.nav-link {
	color: #888;
}

.nav-link:hover .dot-divider, .nav-link:focus .dot-divider {
	background-color: #BBB;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    border: 2px solid rgb(0 0 0 / 40%);
    background: rgb(0 0 0 / 3%);
    border-radius: 8px;
    color: #333;
    line-height: 0.9;
    box-shadow: 0px 0px 9px -4px #0006;
}

.close .nav-link:hover, .less .nav-link:hover, .more .nav-link:hover, .plus .nav-link:hover, .remove .nav-link:hover {
	border: none;
	background: transparent;
	box-shadow: none;
}

.nav-tabs .nav-link.active .dot-divider{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFF;
    border: 2px solid #DDD !important;
}

.nav .dot-divider {
    width: 10px;
    height: 10px;
    background: #DDD;
}

.text-wrap .nav-link {
    padding: 6px;
    margin: 5px 2px 5px 3px;
    border: none;
    text-align: center;
    height: 33px;
    width: 42px;
    position: relative;
}

.nav-tabs {
    border: none;
    position: absolute;
    right: 4px;
    bottom: -46px;
    transition: transform .2s ease-in;
    display: table;
    margin: 0 2.5px -8px;
    border-radius: 0 0 12px 12px;
    padding: 8px 3.5px 0;
}

.preset-title {
    position: absolute;
    top: -32px;
    left: 8px;
    max-width: 760px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    font-style: italic;
}

.preset-title.show {
    display: block;
}

.nav-tabs.hide {
    transform: translateY(-51px);
}

.nav.empty{
    border: none;
    padding: unset;
    margin: unset;
}

.nav-hide {
    position: absolute;
    right: -32px;
    bottom: -40px;
    cursor: pointer;
    transition: transform .2s ease-in;
}

#clear {
    right: 31px;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: none;
}

.modal{
	--bs-modal-width: 800px;
}

.modal-body{
	line-height: 1.5;
}

fr{
	float: right;
}

pre {
    margin: 0;
}

.modal-header {
    background-color: #F2F2F2;
}

.text-box.on{
	width: 973px;
	height: 730px;
	background: #ebe6c9;
	outline: 1px solid rgb(0 0 0 / 20%);
	padding: 76px 80px 80px 76px;
}

.on textarea{
	border: none;
	padding: 8px;
	color: #333;
	font-size: 14px;
	border-radius: 1px;
	font-size: 17px;
	animation: glow 3s linear infinite;
	caret-color: unset;
}

.on.green textarea{
	color: #f0fff8;
	text-shadow: 0 0 2px #00ff66, 0 0 6px #00ff66, 0 0 10px #00ff66;
	caret-color: #7bffb0;
}

.text-box.on.green ::placeholder {
  color: #f0fff8;
  opacity: 1;
}

.text-box.on.green ::-ms-input-placeholder {
  color: #f0fff8;
}

.text-box.on ::placeholder{
	color: #333;
	opacity: 1;
}

.text-box.on ::-ms-input-placeholder {
  color: #333;
}

.power {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid rgb(0 0 0 / 20%);
  position: relative;
  display: grid;
  place-items: center;
  margin: 8px auto 0px !important;
  background: linear-gradient(180deg, rgb(240 240 240 / 25%) 35%, rgb(160 160 160 / 10%) 70%);
  box-shadow: 0px 0px 0px 0px rgb(0 0 0 / 24%) inset;
  transition: box-shadow .25s ease-in-out, border .25s ease-in;
}

.light {
  height: 24%;
  width: 4px;
  background: #CCC;
  border-radius: 10px;
  position: absolute;
  top: 7px;
}

.power:hover, .power.on {
  cursor: pointer;
  border-width: 2px;
  box-shadow: 0px 0px 0px 1px rgb(0 0 0 / 24%) inset;
}

.power.on span {
    color: #52cb60;
}

.text-box.on.amber ::-ms-input-placeholder {
  color: #ffb700;
}

.on + .led {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 5px 1px, inset #304701 0 0px 2px, #89FF00 0 1px 4px;
  transition: unset;
  right: 18px;
}

.led {
  margin: 0 auto;
  width: 8px;
  height: 8px;
  background-color: #DDD;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 5px 1px, inset #555 0 0px 2px, #AAA 0 1px 4px;
  position: absolute;
  bottom: -16px;
  right: 18px;
  transition: all .4s ease-in-out;
}

.power:hover .light {
    background: #CCC;
}

.power:hover::before {
    border-color: #CCC;
}

.power:hover::before, .power.on::before {
    width: 42%;
    height: 42%;
}

.power-button {
    position: relative;
}

.screen-container {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: 1px solid #a5a5a5;
	position: relative;
	border-radius: 10px;
	background: #555;
}

#preCode {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
}

#preCode code {
	padding: 15px;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 12pt;
	line-height: 150%;
	overflow-y: scroll;
	overflow-x: auto;
}

.on .screen-container {
    border-radius: 1px;
    box-shadow: 0 0 6px 2px #444;
    border: 2px solid #444;
    outline: 13px solid rgb(0 0 0 / 15%);
    background: #FFF;
    transition: all .3s ease-in;
    filter: brightness(1);
    z-index: 20;
}

.on.amber .screen-container, .on.green .screen-container {
    background: #444;
}

.on.amber textarea{
	color: #ffb700;
    text-shadow: 0 0 2px #ffb700, 0 0 6px #ffb700, 0 0 10px #ffb700;
	caret-color: #FFB700;
}

.text-box.on.amber ::placeholder {
  color: #ffb700;
  opacity: 1;
}

.text-box.on.amber ::-ms-input-placeholder {
  color: #ffb700;
}

.extra {
    position: absolute;
    left: -24px;
    bottom: 0;
    cursor: pointer;
}

.mini {
    bottom: 82px;
    right: 16px;
    width: 386px;
    height: 217px;
    padding: 0px 18px 12px 18px;
    background: #444;
    position: fixed;
    border-radius: 10px;
    z-index: 9999;
    transition: transform .3s linear;
}

.mini.on {
    border-radius: 4px;
}

.mini #hide {
    position: absolute;
    top: -62px;
    bottom: unset;
    right: 0;
}

.mini.hide {
    transform: translateY(328px);
}

.mini.hide .color-vision {
    display: none;
}

.button-group {
    position: absolute;
    left: 38px;
    bottom: -60px;
}

.mini .button {
    margin-right: 12px;
}

.wrap {
    background: #F2F2F2;
    padding: 16px 20px 0 16px;
    margin: -6px -20px;
}

.text-box ::placeholder{
	color: rgb(255 255 255 / 60%)
}

.on .wrap {
    height: 310px;
    background: #ebe6c9;
    margin: -14px -18px;
    outline: 1px solid rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.mini.on .button-group .button {
    background: rgb(0 0 0 / 6%);
}

.build input {
	display: none;
}

.build label {
	cursor: pointer;
}

.build label:before {
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
	background: linear-gradient(0deg, #E2E2E2, #FFF);
	border-radius: 50%;
	transition: box-shadow .4s ease, background .3s ease;
	outline: 2px solid #CCC;
}

.build input:checked + label:before {
	background: linear-gradient(45deg, #E2E2E2, #FFF);
	border: 1px solid #CCC;
	border-bottom: none;
	width: 18px;
	height: 19px;
}

.build .label {
	display: block;
	font-size: 12px;
	width: 30px;
	color: #888;
	position: absolute;
	top: 23px;
	left: -2px;
}

#clear2 {
    right: 54px;
}

#copy2 {
    right: 134px;
}

#load2 {
    right: 208px;
}

#save2 {
    right: 384px;
}

.right-foot .button {
    outline: none;
    display: inline-block;
    vertical-align: middle;
}

.on .screen-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 3;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.on .screen-container::after {
	content: " ";
	float: left;
	width: 100%;
	height: 100px;
	z-index: 8;
	background: linear-gradient(0deg, transparent 0,rgb(0 0 0 / 20%) 10%,rgb(0 0 0 / 10%) 100%);
	opacity: .05;
	position: fixed;
	bottom: 0;
	animation: refresh 0.01s linear infinite;
	animation-delay: 0s;
	animation-direction: normal;
	animation-fill-mode: none;
	animation-play-state: running;
	pointer-events: none;
}

.on.green .screen-container::after, .on.amber .screen-container::after{
	opacity: .15;
}

@keyframes refresh{
	0%{
		bottom:100%
	}
	100%{
		bottom: -100px
	}
}

@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-off {
  0% {
	top: 0%;
	bottom: 0%;
	filter: brightness(0) invert(1) blur(10px);
  }
  68% {
    width: 100%;
    height: 1px;
	top: 49.5%;
	bottom: 49.5%;
	filter: brightness(0) invert(1) blur(10px);
  }
  99% {
    width: 0px;
    height: 1px;
	top: 49.5%;
	bottom: 49.5%;
	filter: brightness(0) invert(1) blur(10px);
  }
  100% {
    width: 0px;
    height: 0px;
	top: 49.5%;
	bottom: 49.5%;
	filter: brightness(0) invert(1) blur(10px);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes wide-turn-off{
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.overlay {
  color: #00FF00;
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 42px;
  visibility: hidden;
  pointer-events: none;
}

.mini .overlay{
	font-size: 24px;
}

.on:not(.wide) textarea.turn-off, .on:not(.wide) .plyr.turn-off {
  animation: turn-off 1s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  background: #FFF;
  text-shadow: none !important;
  caret-color: unset;
  overflow: hidden;
  filter: blur(10px);
}

.on:not(.wide) textarea.turn-on, .on:not(.wide) .plyr.turn-on {
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
}

.on:not(.wide) textarea.turn-on + .overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

.wide textarea.turn-off {
  animation: wide-turn-off 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
}

.screen-container.turning-off {
    background: #444;
}

.screen-container.turning-off::before, .screen-container.turning-off::after {
	content: none;
}

@keyframes glow {
  50% {
	opacity: 0.85;
  }
}

.on .active:not(.button):before {
    content: " ";
    border: 3px inset rgb(0 0 0 / 30%);
    width: calc(100% - 26px);
    height: calc(100% - 26px);
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 6px;
}

.on .active:not(.button):after {
    content: " ";
    border: 2px solid rgb(240 240 240 / 30%);
    width: calc(100% - 126px);
    height: calc(100% - 126px);
    position: absolute;
    left: 61px;
    top: 61px;
    border-radius: 19px;
    pointer-events: none;
}

.glass {
    position: absolute;
    background: url('../assets/images/screen.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    left: 68px;
    bottom: 0;
    right: 0;
    top: 66px;
    height: 753px;
    width: 994px;
    z-index: 10;
    transform: scale(1.035);
    pointer-events: none;
    display: none;
}

.on .glass {
    display: block;
}

.on.wide .glass{
    height: 570px;
    transform: scale(1.365, 1.035);
}

.mini.on .screen-container {
    outline-width: 6px;
    height: 230px;
}

.mini .glass {
    width: 302px;
    height: 255px;
    background-repeat: no-repeat;
    top: -8px;
    left: 60px;
    transform: scale(1.375, 1.11);
}

.plyr{
    --plyr-color-main: #FFF1;
    --plyr-range-fill-background: #00B2FF;
    --plyr-range-thumb-background: linear-gradient(rgb(0 0 0 / 6%) 36%, rgb(0 0 0 / 40%)), #FFF;
    --plyr-video-progress-buffered-background: #FFF1;
    --plyr-control-radius: 6px;
    --plyr-video-control-background-hover: #FFF3;
}

.plyr ~ textarea {
    display: none;
}

.plyr--video {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #222;
}

.plyr:not(.yt) .plyr__control.plyr__control--overlaid{
    padding: 24px;
    --plyr-control-icon-size: 30px;
}

.mini.on .button.active {
    background: rgb(0 0 0 / 10%);
    border: none;
}

.popover-default.bottom .arrow:after {
    border-bottom-color: #DDD;
}

.popover-title {
    background-color: #DDD !important;
    --bs-popover-border-color: #BBB;
    font-weight: bold;
}

#colorPop {
    --bs-popover-max-width: 444px;
    margin-top: -10px;
    margin-left: 4px;
}

#colorPop button{
  border: none;
  float: right;
  margin: 10px;
}

input[type="text"], select {
    margin-bottom: 10px;
}

.close .nav-link, .less .nav-link, .more .nav-link, .plus .nav-link {
    width: 26px;
    min-width: unset;
    height: 26px;
    vertical-align: middle;
    line-height: 1.3 !important;
    color: #777;
    cursor: pointer;
    font-size: 20px;
    padding: 2px;
}

.remove .material-symbols-outlined.nav-link {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
    font-size: 26px;
    min-width: unset;
	color: #F00;
}

.mini .plyr--audio {
    position: absolute;
    bottom: 0px;
    background: #222;
}

.tab-pane .plyr--audio {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #222;
}

.plyr--paused video {
    filter: blur(6px) brightness(0.75) opacity(0.9);
    position: relative;
}

#next {
    padding: 0;
    margin: 0 10px;
    transform: scale(1.778);
}

.next-up {
    position: absolute;
    height: 138px;
    width: 565px;
    left: 20px;
    top: -116px;
    background: #111E;
    text-align: left;
    display: none;
    border-radius: 10px;
}

.next-up.show{
	display: block;
}

.next-up .next-title {
    margin: 0 6px 4px 6px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #999;
    display: block;
}

.plyr .next-up img {
    width: 200px !important;
    height: 100% !important;
    display: inline-block;
    float: left;
}

.next-info {
    display: inline-block;
    width: 63%;
    padding: 4px 14px;
}

.next-info span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.next-info span:first-child {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid #AAAA;
}

.next-info #next-title {
    font-style: italic;
    line-height: 1;
    margin: 8px 0 6px;
    height: 54px;
}

.next-up #user {
    font-size: 12px;
    font-weight: bold;
    background: #000;
    display: inline;
    padding: 4px;
    border-radius: 4px;
}

.next-up #user a {
    color: #FFF;
}

.text-box.on.wide {
    background: radial-gradient(#444 90%, #AAA);
    padding: 12px 16px 16px 12px;
    width: 1110px;
    height: 624px;
}

.text-box.on.wide .active:not(.button):after {
    content: none;
}

.wide .glass {
    display: none;
}

.text-box.wide.on .screen-container::before, .mini.wide.on .screen-container::before, .text-box.wide.on .screen-container::after, .mini.wide.on .screen-container::after {
    content: unset;
}

.on.wide .wrap {
	background: linear-gradient(#444 40%, #707070);
}

.on.wide .wrap .button:not(#hide) {
    color: #FFF;
    background: radial-gradient(#444, transparent);
    border-color: #444;
}

.on.wide .wrap .button.active {
    background: #444 !important;
}

.yt {
    --plyr-range-fill-background: red;
    --plyr-video-control-background-hover: red;
}

.yt .plyr__control--overlaid {
    border-top-left-radius: 8px 40%;
    border-top-right-radius: 8px 40%;
    border-bottom-left-radius: 8px 40%;
    border-bottom-right-radius: 8px 40%;
    padding: 10px 20px;
}

.on.green .plyr .plyr__video-wrapper::before, .on.amber .plyr .plyr__video-wrapper::before {
    content: " ";
    width: 100%;
    height: 100%;
    background: #66B032;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    mix-blend-mode: color;
    pointer-events: none;
}

.on.amber .plyr .plyr__video-wrapper::before, .on.amber .screen-container::before {
	background: #FFB700;
}

.on.green .plyr iframe, .on.amber .plyr iframe {
    -webkit-filter: grayscale(100%) contrast(75%) brightness(90%);
    filter: grayscale(100%) contrast(75%) brightness(90%);
}

.on.bw .plyr iframe, .on.bw .plyr video, .on.bw img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.on.bw .plyr--paused video {
    filter: blur(6px) brightness(0.75) grayscale(100%) opacity(0.9);
}

.nav-slide {
    overflow: hidden;
    max-width: 940px;
    height: 100%;
}

.nav-link.empty {
    color: #BBB;
}

.nav-link.img {
	color: 	#fab617;
}

.nav-link.twitch {
	color: #B9A3E3;
}

.nav-link.twitch-live {
    color: #9147ff;
}

.nav-link.vid {
    color: #00B2FF;
}

.nav-link.yt {
    color: #FF0000;
}

.nav-tabs .nav-link.vid.active, .nav-tabs .nav-link.vid:hover {
    color: #00B2FF;
    border-color: #00B2FF;
    background: rgb(0 178 255 / 3%);
    box-shadow: 0 0px 9px -4px #00B2FF;
}

.nav-tabs .nav-link.yt.active, .nav-tabs .nav-link.yt:hover {
    color: #FF0000;
    border-color: #FF0000;
    background: rgb(255 0 0 / 3%);
    box-shadow: 0 0px 9px -4px #FF0000;
}

.nav-tabs .nav-link.empty.active, .nav-item .nav-link.empty:hover {
    color: #BBB;
    border-color: #BBB;
    background: rgb(187 187 187 / 4%);
    box-shadow: 0 0px 9px -4px #BBB;
}

.nav-tabs .nav-link.img.active, .nav-tabs .nav-link.img:hover{
	color: #FAB617;
	border-color: #FAB617;
	background: rgb(250 182 23 / 4%);
	box-shadow: 0 0px 9px -4px #FAB617;
}

.nav-tabs .nav-link.twitch.active, .nav-tabs .nav-link.twitch:hover{
	color: #B9A3E3;
	border-color: #B9A3E3;
	background: rgb(185 163 227 / 4%);
	box-shadow: 0 0px 9px -4px #9147ff;
}

.nav-tabs .nav-link.twitch-live.active, .nav-tabs .nav-link.twitch-live:hover{
	color: #9147ff;
	border-color: #9147ff;
	background: rgb(145 71 255 / 4%);
	box-shadow: 0 0px 9px -4px #9147ff;
}

.tab-pane .img-holder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tab-pane img {
    width: 100%;
    height: auto;
}

.preview-wrap img {
    width: 100%;
    height: 100%;
    margin-left: 0;
    position: absolute;
}

.mbz .preview-bezel {
    width: 262px;
    height: 197px;
    margin-left: 62px;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
}

.koko .preview-bezel {
    width: 326px;
    height: 217px;
    margin-left: 37px;
    position: absolute;
    z-index: 1;
}

.mbz .bezel-color {
    background: #1A1A1A;
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

.koko .bezel-color {
    background: #808080;
    mix-blend-mode: overlay;
    position: absolute;
    width: 104%;
    height: 100%;
    left: -2%;
    top: 0;
    z-index: 1;
    filter: brightness(105%);
}

.mbz .preview-bezel img {
    position: relative;
    margin: -3px 0 -3px -52px;
    width: calc(100% + 104px);
    height: calc(100% + 6px);
}

.koko .preview-bezel img {
    position: relative;
    margin: 0px 0 0px -37px;
    width: calc(100% + 74px);
    height: 100%;
}

.mbz .preview-screen {
    width: 367px;
    height: 203px;
    z-index: 2;
    top: 7px;
    left: 9px;
    transform: scale(0.84);
}

.koko .preview-screen {
    width: 400px;
    height: 217px;
    z-index: 2;
    top: 0px;
    left: 0px;
    transform: scale(1.015);
}

.preview-bg {
    transform: scale(2.5);
}

.preview-wrap {
    width: 400px;
    height: 217px;
    position: relative;
    overflow: hidden;
    border: 2px inset;
}

#exampleModal2 iframe {
    width: 100%;
    height: 100%;
}

#exampleModal2 .modal-body{
	padding: 0;
}

#exampleModal2 .modal-header .logo-credit {
    margin-left: 10px;
    margin-bottom: .5em;
    color: #999;
    font-weight: 700;
}

footer .dropdown-menu .dropdown-item{
    box-sizing: border-box;
}

footer .btn-group button {
    color: #333;
    border: none;
}

.text-head {
    position: absolute;
    top: -44px;
    right: 42px;
}

.text-head .button {
    margin-right: 10px;
}