body {
	font-family: monospace;
	font-size: 16px;
	background: #F2F2F2;
	color: #333;
    margin: 0;
}

.content {
	margin: 0 auto;
	width: 1140px;
	padding: 24px;
	margin-top: 1%;
	border-radius: 16px;
	position: relative;
}

.title, footer {
	padding: 24px 14px 0px;
	margin: -14px;
}

.title {
	padding: 14px;
	border-radius: 14px 14px 0px 0px;
	margin-bottom: 8.5%;
	font-weight: 300;
}

form {
	margin: 0px;
}

.hold {
    display: inline-block;
    margin: -80px 0px 80px 0px;
}

.button {
    border-radius: 34px;
    background: rgba(255, 255, 255, 0.35);
    padding: 4px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #888;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 4px #8883;
}

.button:hover {
    background: #DDD;
    border-color: #d2d2d2;
    color: #5A5A5A;
}

.text-box {
    position: relative;
    width: 410px;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: -68px;
    padding: 10px;
}

textarea {
	font-size: 16px;
	width: 100%;
	resize: none;
	border: none;
	display: block;
	background: transparent;
}

textarea:focus-visible {
	outline: none;
}

#copy, #clear {
    position: absolute;
    top: -36px;
    right: 12px;
}

.koko-aio .hold, .koko-aio #clear {
    opacity: 0;
}

.hex {
    width: 22%;
}

.rgb {
    width: 22%;
}

.contrast {
    width: 30%;
}

.hex, .contrast, .rgb {
	margin-top: 14px;
	display: inline-block;
}

.hex input {
	text-transform:uppercase;
}

.rgb input {
	width: 48px;
	text-align: center;
}

input[type="text"], select {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 14px;
}

#contrasts {
	width: 25%;
	font-size: 14px;
}

.square {
	border: 3px groove rgb(0 0 0 / 50%);
	background: #808080;
	border-radius: 6px;
	height: 150px;
	width: 150px;
	right: 106px;
	top: 140px;
	position: absolute;
	box-shadow: 0px 0px 14px 4px rgba(128, 128, 128, 0.25);
}

span.square-title {
    position: absolute;
    top: -28px;
}

.message {
	display: inline-block;
	margin-top: 24px;
	height: 20px;
	width: 50%;
}

.error {
	color: #FF0000;
}

.info {
	font-weight: bold;
}

.switch-panel {
    display: table;
    width: 100%;
}

.koko-aio .bezel, .koko-aio .format {
    width: 47%;
    display: inline-block;
}

.koko-aio .switch-panel .format {
    border: none;
}

..koko-aio .switch-panel .imageType, .koko-aio .layers-wrap {
    opacity: 0;
}

..koko-aio .switch-panel {
	margin-bottom: -31px;
	display: math;
}

.bezel, .format, .imageType {
    display: table-cell;
    margin: 12px 24px 0px 0px;
    text-align: center;
    width: 33%;
}

.bezel, .format {
    border-right: 1px solid #DDD;
}

.switch-label {
	display: inline-block;
    transition: all .3s ease-in-out;
}

.panel-label {
    font-weight: 600;
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 7px;
	vertical-align: middle;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #DDD;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: -2px;
	top: -6px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border: 2px solid #DDD;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 14px;
}

.slider.round:before {
	border-radius: 50%;
}

.layers-wrap {
	display: inline-block;
	padding-top: 10px;
	margin: 0px auto 48px;
	position: relative;
	width: 100%;
	text-align: center;
}

.layer {
	position: relative;
	width: 748px;
	height: 36px;
}

.layer input {
	width: 100%;
	position: absolute;
	top: 32px;
	left: 194px;
	height: 0;
	-webkit-appearance: none;
}

.layer input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}
.layer input::-moz-range-thumb {
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}
.layer input::-ms-thumb {
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}

.layer input::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
}

.layer input::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
}

.layer input::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
	border-color: transparent;
	color: transparent;
}

.layer input:focus {
	background: none;
	outline: none;
}

.layer-labels {
	margin: 20px -44px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.layer-labels li {
	position: relative;
	float: left;
	width: 105px;
	text-align: center;
	color: rgb(51 51 51 / 50%);
	font-size: 14px;
	cursor: pointer;
}

.layer-labels li::before {
	position: absolute;
	top: -27px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background: #DDD;
	border-radius: 50%;
}

.layer-labels .active {
	color: #333;
	font-weight: bold;
}

.layer-labels li.active::before {
	display: none;
}

#submit {
	width: 32%;
	padding: 14px;
}

#submit:hover, #copy:hover, #clear:hover {
	cursor: pointer;
}

.koko-aio ~ #submit {
    margin-top: -31px;
}

#copy:hover:disabled {
	cursor: not-allowed;
}

#clear {
    right: 84px;
}

.left-foot, .right-foot{
	flex: 1 1 auto;
}

.left-foot {
	text-align: left;
}

.right-foot {
	text-align: right;
}

.right-foot .credit {
    transform: scale(0.9);
}

a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
}

a:hover {
	color: #000;
}

.owl-wrapper {
	width: 1044px;
	position: absolute;
	bottom: 120px;
	left: 50%;
	margin-left: -500px;
}

.owl-wrapper h3 {
	font-size: 20px;
	color: #666;
}

.owl-carousel {
	padding: 0px 72px;
	margin-left: -72px;
}

.owl-carousel .owl-nav .disabled {
	opacity: 0.25;
	cursor: default;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
	font-size: 30px;
	width: 36px;
	height: 36px;
	position: absolute;
	bottom: 45%;
}

.owl-prev {
	left: 12px;
}

.owl-next {
	right: 12px;
}

.owl-prev span, .owl-next span {
	margin-top: -4px;
	display: block;
}

.jewel {
	height: 100px;
	margin-left: 4px;
}

.colors {
	display: inline-block;
}

.color {
	display: inline-block;
	border-radius: 5px;
	margin: 4px 10px 4px 0px;
	border-top: 10px inset rgb(0 0 0 / 5%);
	border-right: 10px inset rgb(255 255 255 / 15%);
	border-bottom: 10px outset rgb(255 255 255 / 15%);
	border-left: 10px outset rgb(0 0 0 / 5%);
	outline: 1px solid #BBB;
	height: 15px;
	width: 15px;
}

.color:hover {
	cursor: pointer;
}

.color-title, .color-code {
	display: block;
}

.color-title {
	padding: 8px 2px 4px;
	margin: 0px;
	font-size: 17px;
}

.color-code {
	color: rgba(0,0,0,0.5);
	font-size: 14px;
	opacity: 0;
	transition: all .2s ease-in-out;
	text-align: center;
}

.colors:hover ~ .color-code {
	opacity: 1;
}

footer {
    border-top: 1px dashed #DDD;
    border-radius: 0px 0px 14px 14px;
    text-align: right;
    position: absolute;
    bottom: 24px;
    width: 1140px;
    left: 50%;
    margin: 32px -562px 0px;
    display: flex;
    flex-direction: row;
}

footer em {
	opacity: 0.5;
}

.watermark {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	border: 1px solid #DDD;
	padding: 4px;
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.05);
	vertical-align: middle;
}

.watermark:hover {
	background: #FFF;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 6px 0px #DDD;
}

::-webkit-scrollbar-thumb {
	background: #DDD;
}

@media screen and (max-height: 924px){
	.owl-wrapper, footer {
		position: relative;
		margin: 48px auto 0px;
		bottom: unset;
		left: unset;
	}
}

@media screen and (max-width: 1024px){
	.owl-wrapper, footer {
		margin-left: -390px;
	}
}

*{
	transition: opacity .3s ease-in;
}
