body {
	font-family: monospace;
	font-size: 16px;
	background: #F2F2F2;
	color: #333;
	margin: 0;
	line-height: unset;
	position: relative;
}

.content {
	margin: 0 auto;
	width: 1140px;
	padding: 24px;
	margin-top: 1%;
	border-radius: 16px;
}

.title, footer {
	padding: 24px 14px 0px;
	margin: -14px;
}

.title {
	margin: -18px 0 8.5%;
	padding: 14px;
	border-radius: 14px 14px 0px 0px;
	font-weight: 300;
}

form {
	margin: 0px;
}

.text-box input, .mini #load input {
    display: none;
}

.text-box .nav-tabs {
    position: absolute;
    top: -32px;
    left: -1px;
    border-color: transparent;
}

.text-wrap {
    margin-top: 118px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.hold {
    position: absolute;
    bottom: -36px;
    left: 18px;
}

.text-box {
    position: relative;
    width: 1140px;
    height: 840px;
    background: #F8F8F8;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 1;
}

textarea {
            font-family: "Roboto Mono", monospace;
            font-weight: 400;
            font-size: 12pt;
            line-height: 150%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            padding: 15px;
            z-index: 2;
            overflow-x: auto;
            overflow-y: scroll;
            white-space: pre;
            background-color: rgba(0,0,0,0);
            color: rgba(0,0,0,0);
            caret-color: white;
            resize: none;
        }

textarea:focus-visible {
	outline: none;
}

.text-box .button {
    position: absolute;
    top: -38px;
    right: -48px;
}

.color-vision {
    display: inline-block;
    width: 354px;
    position: absolute;
    top: -106px;
    left: 0;
    background: #F2F2F2;
    padding: 12px 10px;
    border-radius: 10px 10px 0px 0px;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    position: absolute;
    right: -84px;
}

.button-wrap .button {
    width: 46px;
    height: 46px;
    padding: 0px;
    border: 0;
    position: relative;
    flex: 0 0 auto;
    margin: 0 auto 12px;
    overflow: hidden;
}

.button {
    border-radius: 34px;
    background: rgba(255, 255, 255, 0.35);
    padding: 4px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #888;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 0 4px #8883;
}

.text-wrap .button:not(.shader):hover, footer .left-foot .button:hover, .button.active {
    background: #DDD;
    border-color: #d2d2d2;
    color: #5A5A5A;
}

.button.active:hover {
    background: rgba(255, 255, 255, 0.35);
    color: #888;
}

.button-wrap input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0;
}

.shader {
    background-image: url("images/retroarch.png");
    background-size: contain;
    background-position: center;
}

.image.button input:hover {
    cursor: pointer;
}

.image input:hover {
    cursor: pointer;
}

.hex, .hsb, .hsl, .rgb, .contrast {
	/* display: inline-block; */
	margin-bottom: 12px;
}

.hex {
    width: 244px;
}

.hsb, .hsl, .rgb {
    width: 348px;
}

.hex input {
	text-transform:uppercase;
}

.rgb input, .hsb input, .hsl input {
	width: 48px;
	text-align: center;
}

.hsb input, .hsl input {
    margin-right: 6px;
}

input[type="text"], select {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 14px;
}

.square {
	height: 20px;
	width: 20px;
	margin: 0 auto 12px;
	position: relative;
}

.square input {
    left:  -12;
    top: -12;
}

.dropper {
    opacity: 0;
    width: 44px;
    height: 44px;
    top: -12px;
    left: -12px;
    bottom: 0px;
}

.dropper:hover {
    cursor: pointer;
}

.square.jewel {
    border-top: 10px inset rgb(0 0 0 / 5%);
    border-right: 10px inset rgb(255 255 255 / 15%);
    border-bottom: 10px outset rgb(255 255 255 / 15%);
    border-left: 10px outset rgb(0 0 0 / 5%);
    outline: 1px solid #BBB;
    border-radius: 5px;
}

.square.palette {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.square.palette .dropper {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    top: -3px;
    left: -3px;
}

.square.swatch {
    border: 1px solid rgb(0 0 0 / 3%);
    width: 26px;
    height: 26px;
}

.square.swatch .dropper {
    width: 28px;
    height: 28px;
    top: -1px;
    left: -1px;
}

span.square-title {
    font-weight: bold;
    color: rgb(51 51 51 / 50%);
    display: block;
    text-align: center;
    width: 200px;
}

.error {
	color: #FF0000;
	position: absolute;
	bottom: 8px;
	left: 6px;
	text-align: center;
	width: 92%;
	background: #F7F7F7;
}

.info {
	font-weight: bold;
	margin-top: 12px;
	height: 19px;
	display: none;
}

.switch-panel {
    display: table;
    width: 100%;
    margin-top: -60px;
}

.bezel, .format, .imageType {
    display: table-cell;
    margin: 12px 24px 0px 0px;
    text-align: center;
    width: 33%;
}

.bezel, .format {
    border-right: 1px solid #DDD;
}

.imageType.disabled .switch-label.active {
    color: rgb(51 51 51 / 50%);
}

.disabled .switch-label:hover, .disabled .slider {
    cursor: default;
}

.format-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 28px 0 0;
	flex-direction: column;
	position: relative;
}

.format-labels span {
    margin: 0 10px;
}

.format-labels .active, .switch-label.active {
    color: #333;
}

.format input {
	-webkit-appearance: none;
	appearance: none;
	height: 8px;
	width: 190px;
	background-color: #DDD;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0 2px;
	margin: 0;
	cursor: pointer;
	left: 95px;
	bottom: 26px;
	position: absolute;
}

.format input::-webkit-slider-thumb {
	background-color: #FFF;
}

.format input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	border: 2px solid #DDD
}

.format input:focus {
	outline: none;
}

.format-wrapper .format-labels {
    width: 100%;
    margin-top: 10px;
    color: rgb(51 51 51 / 50%);
}

.switch-wrapper {
    margin-top: 22px;
}

.switch-label {
	display: inline-block;
    transition: all .3s ease-in-out;
    color: rgb(51 51 51 / 50%);
}

.switch-label.active:hover {
	cursor: default;
}

.panel-label {
    font-size: 14px;
    margin-left: -160px;
    font-weight: 600;
}

.switch {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 7px;
	vertical-align: middle;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #DDD;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: -2px;
	top: -6px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border: 2px solid #DDD;
}

.switch input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

.slider.round {
	border-radius: 14px;
}

.slider.round:before {
	border-radius: 50%;
}

.layers-wrap {
	display: inline-block;
	padding-top: 48px;
	margin: 0px auto 0;
	position: relative;
	width: 100%;
	text-align: center;
}

.layer {
	position: relative;
	width: 748px;
	height: 36px;
}

.layer input {
	width: 100%;
	position: absolute;
	top: 32px;
	left: 196px;
	height: 0;
	-webkit-appearance: none;
}

.layer input::-webkit-slider-thumb {
	-webkit-appearance: none;
	display: block;
	width: 18px;
	height: 18px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}
.layer input::-moz-range-thumb {
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}
.layer input::-ms-thumb {
	width: 16px;
	height: 16px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #FFF;
	cursor: pointer;
	border: 2px solid #DDD !important;
}

.layer input::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
}

.layer input::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
}

.layer input::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #DDD;
	border-color: transparent;
	color: transparent;
}

.layer input:focus {
	background: none;
	outline: none;
}

.layer-labels {
	margin: 20px -44px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

.layer-labels li {
	position: relative;
	float: left;
	width: 105px;
	text-align: center;
	color: rgb(51 51 51 / 50%);
	font-size: 14px;
	cursor: pointer;
}

.layer-labels li::before {
	position: absolute;
	top: -29px;
	right: 0;
	left: 0;
	content: "";
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background: #DDD;
	border-radius: 50%;
}

.layers-wrap:not(.disabled) .layer-labels .active {
	color: #333;
	font-weight: bold;
}

.layers-wrap:not(.disabled) .layer-labels li.active::before {
	display: none;
}

.layers-wrap.disabled .layer input::-webkit-slider-thumb{
    display: none;
}

.layers-wrap.disabled .layer-labels li:hover{
    cursor: default;
}

.koko-aio .layer-labels li {
    width: 92px;
    margin-right: 32px;
}

.koko-aio .layer {
    width: 510px;
}

.koko-aio .layer input {
    left: 298px;
}

#submit {
	opacity: 0;
}

.button:hover, .switch-label:hover, .format-labels span:hover {
    cursor: pointer;
}

#copy:hover:disabled {
	cursor: not-allowed;
}

#copy, #copy2, #copy3, #copy4 {
    right: 92px;
}

#edit, #load2, #load3, #load4 {
    right: 164px;
}

#load, #save2, #save3, #save4 {
    right: 236px;
}

#save {
    right: 308px;
}

.text-wrap.extra{
    margin-top: 60px;
	display: none;
}

.left-foot, .right-foot {
	flex: 1 1 auto;
}

.left-foot {
	text-align: left;
}

.right-foot {
	text-align: right;
}

.credit.design {
	margin: 4px 0px;
}

.dot-divider {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(51 51 51 / 20%);
    border-radius: 50%;
    margin: 0px 10px;
}

a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
}

a:hover {
	color: #000;
}

.owl-wrapper {
	margin-top: 24px;
}

.owl-wrapper h3 {
	font-size: 20px;
	color: #666;
}

.owl-carousel {
	padding: 0px 72px;
	margin-left: -72px;
}

.owl-carousel .owl-nav .disabled {
	opacity: 0.25;
	cursor: default;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
	font-size: 30px;
	width: 36px;
	height: 36px;
	position: absolute;
	bottom: 45%;
}

.owl-prev {
	left: 12px;
}

.owl-next {
	right: 12px;
}

.owl-prev span, .owl-next span {
	margin-top: -4px;
	display: block;
}

.owl-carousel .sample {
	height: 100px;
	margin-left: 4px;
}

.colors {
	display: inline-block;
}

.jewel .color {
	display: inline-block;
	border-radius: 5px;
	margin: 4px 10px 4px 0px;
	border-top: 10px inset rgb(0 0 0 / 5%);
	border-right: 10px inset rgb(255 255 255 / 15%);
	border-bottom: 10px outset rgb(255 255 255 / 15%);
	border-left: 10px outset rgb(0 0 0 / 5%);
	outline: 1px solid #BBB;
	height: 15px;
	width: 15px;
}

.palette .color {
	width: 24px;
	height: 24px;
	display: inline-block;
	border-radius: 50%;
	margin: 4px 6px 4px 0px;
	border: 2px solid rgba(0, 0, 0, 0.1);
}

.swatch .color {
    display: inline-block;
    margin: 4px 0px 4px 0px;
    border: 1px solid rgb(0 0 0 / 3%);
    width: 26px;
    height: 26px;
}

.color.active, .color:hover {
    transform: scale(1.15);
}

.color:hover {
	cursor: pointer;
}

.color-title, .color-code {
	display: block;
}

.color-title {
	padding: 8px 2px 4px;
	margin: 0px;
	font-size: 17px;
}

.color-code {
	color: rgba(0,0,0,0.5);
	font-size: 14px;
	opacity: 0;
	transition: all .2s ease-in-out;
	text-align: center;
}

.colors:hover ~ .color-code {
	opacity: 1;
}

footer {
    border-top: 1px solid #DDD;
    border-radius: 0px 0px 14px 14px;
    text-align: right;
    margin: 24px 0 0;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.foot-wrapper {
    display: inline-block;
    vertical-align: middle;
}

.foot-wrapper .credit {
    display: block;
}

footer {
	color: rgb(51 51 51 / 50%);
}

footer .button {
    display: inline-block;
    margin-left: 12px;
    margin-top: 4px;
    border-radius: 50%;
    padding: 10px;
    width: 24px;
    height: 24px;
}

.center-foot {
	flex: 0 0 auto;
}

.center-foot .credit {
    text-align: center;
}

.watermark {
    background-image: url("images/watermark.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.us {
    background-image: url("images/usa.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.world {
    background-image: url("images/world.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
	width: 10px;
	height: 7px;
	cursor: pointer;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0px 0px 6px 0px #DDD;
	cursor: pointer;
}

::-webkit-scrollbar-thumb {
	background: #DDD;
	cursor: pointer;
}

.on textarea::-webkit-scrollbar-thumb {
	background: #7bFFb0;
}

.on textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px 0 #00FF66;
}

.on.amber textarea::-webkit-scrollbar-thumb {
	background: #FFB700;
}

.on.amber textarea::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px 0 #FFB700;
}

*, *::before, *::after {
	transition: opacity .3s ease-in;
	box-sizing: revert;
}

.nav-item{
    display: table-cell;
}

.nav-link {
	color: #888;
}

.nav-link:hover .dot-divider, .nav-link:focus .dot-divider {background-color: #BBB;}

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover, .nav-item.empty .nav-link.active, .nav-item.empty .nav-link:hover {
    background: unset;
    border: none;
    background: rgb(0 0 0 / 10%);
    border-radius: 50%;
    color: #333;
}

.nav-tabs .nav-link.active .dot-divider{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #FFF;
    border: 2px solid #DDD !important;
}

.nav .dot-divider {
    width: 10px;
    height: 10px;
    background: #DDD;
}

.text-wrap .nav-link {
    padding: 6px;
    margin: 5px 2px;
    border: none;
    text-align: center;
    width: 33px;
    height: 33px;
}

.nav-tabs {
    border: none;
    position: absolute;
    right: -12px;
    bottom: -43px;
    transition: transform .2s ease-in;
    display: table;
    margin: 0 2.5px -8px;
    border-radius: 0 0 12px 12px;
    padding: 8px 3.5px 0;
}

.preset-title {
    position: absolute;
    top: -32px;
    left: 8px;
    max-width: 720px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: none;
}

.preset-title.show {
    display: block;
}

.nav-tabs.hide {
    transform: translateY(-51px);
}

.nav.empty{
    border: none;
    padding: unset;
    margin: unset;
}

.nav-hide {
    position: absolute;
    right: -32px;
    bottom: -40px;
    cursor: pointer;
    transition: transform .2s ease-in;
}

#clear, #clear2 {
    right: 12px;
}

.nav-item.empty .nav-link {
    color: #BBB;
}

.remove .material-symbols-outlined.nav-link {
    width: 27px;
    height: 27px;
    vertical-align: middle;
    line-height: 0.95;
    color: red;
    cursor: pointer;
    font-size: 28px;
}

.nav-tabs .nav-link:focus {
    border: none;
    color: #888;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: none;
}

.modal{
	--bs-modal-width: 800px;
}

.modal-body{
	line-height: 1.5;
}

fr{
	float: right;
}

footer a+em {
    cursor: pointer;
}

pre {
    margin: 0;
}

.modal-header {
    background-color: #F2F2F2;
}

.text-box.on{
	width: 1100px;
	height: 800px;
	background: #ebe6c9;
	outline: 1px solid rgb(0 0 0 / 20%);
	border-radius: 4px;
	padding: 26px 30px 30px 26px;
	transition: padding .3s ease-in;
}

.on textarea{
	border: none;
	padding: 8px;
	color: #f0fff8;
	text-shadow: 0 0 2px #00ff66, 0 0 4px #00ff66, 0 0 6px #00ff66;
	box-shadow: 0 0 6px 3px #444;
	caret-color: #7bffb0;
	border-radius: 1px;
}

.text-box.on ::placeholder {
  color: #f0fff8;
  opacity: 1;
}

.text-box.on ::-ms-input-placeholder {
  color: #f0fff8;
}

.power {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px 0px #AAA;
  position: relative;
  display: grid;
  place-items: center;
  margin: 0px auto 0;
  background: radial-gradient(rgba(250, 250, 250, 1) 30%, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 100%);
}

.power::before {
  content: "";
  width: 40%;
  height: 40%;
  border: 3px solid #CCC;
  border-radius: 50%;
  position: absolute;
}

.light {
  height: 24%;
  width: 4px;
  background: #CCC;
  border-radius: 10px;
  position: absolute;
  top: 7px;
}

.power:hover, .power.on {
  cursor: pointer;
  background: radial-gradient(rgba(250, 250, 250, 1) 40%, rgba(255, 255, 255, 1) 0%, rgba(210, 210, 210, 1) 100%);
  border: 2px solid #CCC;
  box-shadow: none;
}

.text-box.on.amber ::-ms-input-placeholder {
  color: #ffb700;
}

.on + .led {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 5px 1px, inset #304701 0 0px 2px, #89FF00 0 1px 4px;
  transition: unset;
  right: 18px;
}

.led {
  margin: 0 auto;
  width: 8px;
  height: 8px;
  background-color: #DDD;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0px 5px 1px, inset #555 0 0px 2px, #AAA 0 1px 4px;
  position: absolute;
  bottom: -16px;
  right: 18px;
  transition: all .4s ease-in-out;
}

.power:hover .light {
    background: #CCC;
}

.power:hover::before {
    border-color: #CCC;
}

.power:hover::before, .power.on::before {
    width: 42%;
    height: 42%;
}

.power-button {
    position: relative;
}

 #divCodeWrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	border: 1px solid #a5a5a5;
	position: relative;
	border-radius: 10px;
	background: #555;
}

#preCode {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#preCode code {
	padding: 15px;
	height: calc(100% - 30px);
	width: calc(100% - 30px);
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 12pt;
	line-height: 150%;
	overflow-y: scroll;
	overflow-x: auto;
}

.on #divCodeWrapper {
    border-radius: 1px;
    box-shadow: 0 0 6px 2px #444;
    border: 2px solid rgb(0 0 0 / 20%);
    outline: 6px solid rgb(0 0 0 / 15%);
    background: #444;
    transition: all .3s ease-in;
}

.on.amber textarea{
	color: #ffb700;
    text-shadow: 0 0 2px #ffb700, 0 0 4px #ffb700, 0 0 6px #ffb700;
	caret-color: #FFB700;
}

.text-box.on.amber ::placeholder {
  color: #ffb700;
  opacity: 1;
}

.text-box.on.amber ::-ms-input-placeholder {
  color: #ffb700;
}

.extra {
    position: absolute;
    left: -24px;
    bottom: 0;
    cursor: pointer;
}

.mini {
    bottom: 58px;
    right: 16px;
    width: 386px;
    height: 200px;
    padding: 16px 20px 20px 16px;
    background: #444;
    position: fixed;
    border-radius: 10px;
    z-index: 2;
}

.mini.on {
    background: #ebe6c9;
    border-radius: 4px;
}

.mini .button {
    position: absolute;
    bottom: -38px;
}

.mini #hide {
    top: -48px;
    bottom: unset;
    right: 0;
}

.mini.hide {
    transform: translateY(296px);
}

.mini.hide .color-vision {
    display: none;
}

.button-group {
    height: 78px;
}

.wrap {
    background: #F2F2F2;
    padding: 16px 20px 0 16px;
    margin: -16px -20px;
}

.text-box ::placeholder{
	color: rgb(255 255 255 / 60%)
}

.on .wrap {
    background: #ebe6c9;
    margin: -14px -18px;
    outline: 1px solid rgb(0 0 0 / 20%);
    border-radius: 4px;
}

.mini.on .button-group .button {
    background: rgb(0 0 0 / 6%);
}

.hold input {
	display: none;
}

.hold label {
	cursor: pointer;
}

.hold label:before {
	content: '';
	display: inline-block;
	height: 20px;
	width: 20px;
	background: rgb(0 0 0 / 7%);
	border-radius: 50%;
	z-index: 2;
	border-bottom: 3px solid rgb(0 0 0 / 20%);
	transition: box-shadow .4s ease,
					background .3s ease;
}

.hold input:checked + label:before {
	box-shadow: inset 0px 3px 0 2px rgb(0 0 0 / 20%);
	border-bottom: none;
}

.hold .label {
	display: block;
	font-size: 10px;
	width: 30px;
	color: #888;
	position: absolute;
	top: 25px;
}

.hold input:checked ~ span {
    top: 22px;
}

.on .hold {
    left: 18px;
}